.jumbotron
  <center>
  <h1>WITAJ</h1>
  <h2> Jesteśmy firmą usługową zajmującą się obsługą lokali gastronomicznych,
  firm jak i osób prywatnych z zakresu prania i maglowania.
  Naszym mottem niezmiennie od 1993r. jest aby wszystko było proste
  Jeżeli masz pytania zostaw maila a napewno sie odezwiemy
